.react-nav-menu {
  border-bottom: 1px solid #2d3748;
}

.react-nav-menu .svg-search-wrap {
  position: absolute;
  top: 0;
}

.react-nav-menu .svg-search-wrap svg.search-svg {
  width: 1rem;
  color: #a0aec0;
  fill: currentColor;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.react-nav-menu .avatar-login {
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
}

.react-nav-menu .search-input {
  width: 16rem;
  font-size: 0.875rem;
  padding-left: 2rem !important;
  padding-right: 1rem !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  background-color: #2d3748;
  border-radius: 9999px;
}

.react-nav-menu .react-nav-link {
  margin-left: 4rem;
  margin-top: 0;
  color: #fff;
  list-style: none;
}

.corona-App {
  text-align: center;
}

.corona-App nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #19212D;
  color: white;
}

.corona-App .nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.react-archive-columns {
  margin-top: 50px;
}

